<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Centrum autoryzacji{% endblock %}</title>
    <!-- Add your CSS styles here -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <!-- Top Navigation Bar -->
    <div class="top-nav">
        <div class="left">
            <a href="{% url 'index' %}">Centrum autoryzacji</a>
        </div>
        <div class="right">

            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Log Out</a>

            <a href="{% url 'index' %}">Manage Nodes</a>
            <a href="{% url 'index' %}">Generate Keys</a>
            {% if user|yesno:"yes,no" %} <!-- Check if user is staff -->
            <a href="{% url 'add_node' %}">Add Node</a>
            {% else %}
            <a href="{% url 'no_permission' %}">Add Node</a>
            {% endif %}
            <span class="username">{{ user.username }}</span>
            {% else %}
            <a href="{% url 'login' %}">Log In</a>
            <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </div>

    <!-- Page content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>

</html>