<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Centrum autoryzacji{% endblock %}</title>
    <!-- Add your CSS styles here -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <!-- Top Navigation Bar -->
    <div class="top-nav">
        <div class="left">
            <a href="{% url 'index' %}">Authorization Center</a>
        </div>
        <div class="right">

            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Log Out</a>
            <a href="{% url 'manage_nodes' %}">View Nodes</a>
            <a href="{% url 'generate_keys' %}">Generate New N_IDs</a>
            <!-- {% if user|yesno:"yes,no" %}  -->
            <!-- <a href="{% url 'add_node' %}">Add Node</a> -->
            <!-- {% else %} -->
            <!-- <a href="{% url 'no_permission' %}">Add Node</a> -->
            <!-- {% endif %} -->
            <span class="username">{{ user.username }}</span>
            {% else %}
            <a href="{% url 'login' %}">Log In</a>
            {% endif %}
        </div>
    </div>

    <!-- Page content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <div class="footer">
        <h5 class="adjusted-margin">
            Demonstrator centrum autoryzacji dla systemu generowania i odnawiania kluczy dla węzłów sieci IoT
        </h5>
        <h5 class="adjusted-margin">Aleksandra Balcerzak - Warszawa 2024</h5>
    </div>

</body>

</html>