{% extends 'base.html' %}

{% block title %}No permission{% endblock %}

{% block content %}


{% if user.is_authenticated %}

<form method="post" action="{% url 'generate_keys' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Generate Keys</button>
</form>



{% else %}
<h2>Please log in to access this page</h2>
<br>
<a href="{% url 'login' %}" class="login-button">
    <button type="button" class="login-button">&#128274; Login</button>
</a>
<br><br>
<a href="{{ referring_url }}" class="go-back-button">
    <button type="button" class="go-back-button">&larr; Go Back</button>
</a>
{% endif %}


{% endblock %}