/* styles.css */
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
}
.content {
    flex: 1 0 auto;
}
.top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
}

.top-nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.left a {
    font-weight: bold;
}

.right a {
    float: right;
}

.content {
    margin-top: 60px;
    padding: 20px;
}

.top-nav .right .username {
    color: #ff8800;
    font-weight: bold;
    margin-right: 40px;
}

.login-button,
.go-back-button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    width: 120px;
    height: 40px;
}

.login-button button
.go-back-button button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-shrink: 0;
}

.footer h5.adjusted-margin {
    margin: 5px;
}

.generation-parent {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.generation-container {
    width: 30%;
    margin-right: 20px;
}

.center-table {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

table {
    width: 80%;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}